:root {
    --accent-color: #0060df;
    --hover-color: #eee;
    font-size: .9em;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding: 0 1em;
    accent-color: var(--accent-color);
}
@media (prefers-color-scheme: dark) {
    :root {
        --accent-color: #0df;
        --hover-color: #334;
    }
    body {
        background-color: #23222b;
        color: white;
    }
}
a {
    color: var(--accent-color);
}
kbd {
    font-style: italic;
}

fieldset {
    margin-bottom: 1rem;
}
legend {
    font-weight: bold;
}
ul {
    margin: 0;
    padding-left: 2rem;
}
li {
    margin: 0 0 .5rem;
}
button[type="submit"] {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    padding: .5rem 2rem;
    font-size: 1rem;
}
table {
    border-collapse: collapse;
}

th {
    text-align: start;
    vertical-align: bottom;

    thead & {
        padding-right: 1rem;
        padding-bottom: .25rem;
        color: gray;
        line-height: 1;
    }

    /* Heading underline */
    tr.hr & {
        border-top: 2px solid gray;
        padding-top: .5rem;
    }

}

td {
    &.title {
        padding-right: 1rem;

        label {
            display: block;
        }

        tr.category ~ tr & {
            padding-left: 1.5rem;
        }
    }

    &.showInTabMenu {
        width: 5rem;
    }

    &.accessKey {
        width: 5.2rem;

        input {
            width: 2rem;
            text-align: center;
        }
    }

    &.shortcut {
        font-style: italic;

        &:not(:empty) {
            color: var(--accent-color);
            cursor: pointer;
        }
    }
}

/* Collapsible table */
#commands legend {
    button {
        padding: 0;
        border: none;
        color: currentColor;
        background-color: transparent;
        font-weight: bold;
        cursor: pointer;

        &::before {
            content: "⯈";
            display: inline-block;
            font-size: smaller;
        }

        &[aria-expanded="true"]::before {
            rotate: 90deg;
        }
    }

    &:has(button[aria-expanded="false"]) + table {
        display: none;
    }
}
#commands:has(legend button[aria-expanded="false"]) {
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
    }
}

/* Row highlight */
tbody tr:not(.category):is(:hover, :focus-within) {
    background-color: var(--hover-color);
}

.nowrap { white-space: nowrap; }
